p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 !important;
}

a {
    text-decoration: none !important;
}

/* ---------------- */


.owl-carousel {
    padding: 60px 30px;
    background-color: black;
}

.owl-carousel .owl-item {
    border: 1px solid #d7d7d7;
    padding: 20px 15px 15px 15px;
    border-radius: 10px;
    height: 325px;
    background-color: white;
}

/* .owl-item {
    width: 300px !important;
} */

.owl-carousel .owl-item img {
    display: block;
    width: 60px;
    height: 60px;
    object-fit: cover;
    object-position: center;
    border-radius: 40px;
}

.owl-carousel .owl-item .cstm-review-text{
    height: 160px;
    padding-top: 40px;
}


.owl-carousel .owl-item .cstm-review-text p {
    font-size: 20px;
}

.owl-carousel .owl-item h6 {
    font-size: 15px;
    padding-top: 20px;
}

.owl-carousel .owl-item small {
    color: gray;
    font-size: 14px;
}

/* -------------- */
.owl-nav button {
    position: absolute;
    top: 50%;
    background-color: #000;
    color: #fff;
    margin: 0;
    transition: all 0.3s ease-in-out;
}

.owl-nav button.owl-prev {
    left: 0;
}

.owl-nav button.owl-next {
    right: 0;
}

.owl-dots {
    text-align: center;
    padding-top: 15px;
}

.owl-dots button.owl-dot {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    display: inline-block;
    background: #ffff;
    margin: 0 3px;
}

.owl-theme .owl-dots .owl-dot span {
    width: 10px;
    height: 10px;
    margin: 7px 5px;
    background: #ffff;
}

.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
    background: #ffff;
    margin: 7px 3px;
}


.owl-dots button.owl-dot.active {
    background-color: #77BA02;
}

.owl-nav button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: rgba(255, 255, 255, 0.38) !important;
}

span {
    font-size: 50px;
    position: relative;
    top: -5px;
}



