body {
    font-family: 'Roboto', sans-serif !important;
    overflow-x: hidden;
    margin-bottom: 0 auto;
    background: #f3f3f9;
    font-family: 'Open Sans', sans-serif;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 !important;
}

a {
    text-decoration: none !important;
}

/* ----------------------------------- */

.main-search{
    padding: 50px 0;
}

.main-search .cstm-search-bar{
    display: flex;
    align-items: center;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 5px;
    overflow: hidden;
    margin-top: 30px;
}

.main-search .cstm-search-bar input[type="text"] {
    flex: 1;
    padding: 10px;
    border: none;
    outline: none;
}

.main-search .cstm-search-bar a[type="add"] {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.main-search .cstm-search-bar a[type="add"]:hover {
    background-color: #0056b3;
}