/* colors */
:root {
    --blue-color: #48548c;
    --white-color: #ffff;
    --gray-color: #d1d1d1;
    --darkgray-color: #8c8c8c;
    --black-color: #0e0e0e;
    --lightblue-color: #37bdc5;
}

/* body */
body {
    font-family: 'Roboto', sans-serif !important;
    overflow-x: hidden;
    margin-bottom: 0 auto;
    background: #f3f3f9;
    font-family: 'Open Sans', sans-serif;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 !important;
}

a {
    text-decoration: none !important;
}
/* ----------------------------- */


